body {
    padding: 10px;
    color: var(--white1);
    background-color: var(--main-dark);
    font-family: var(--ff-poppins);
    font-size: var(--fs-4);
    margin-bottom: 10px;
}

/* HEADER */
#main-header {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid var(--medium-dark);
    border-radius: 15px;
    background:rgba(0, 0, 0, 0.155);
    backdrop-filter: blur(10px);
    z-index: 1;
}
nav ul {
    display: flex;
    gap: 15px;
    justify-content: center;
}
nav ul li {
    cursor: pointer;
}
nav ul li:active {
    color: var(--light-yellow);
}
nav ul li:hover {
    color: var(--light-dark);
}

/* PROFILE */
.profile {
    background: var(--secondary-dark);
    border: 1px solid var(--medium-dark);
    border-radius: 20px;
    padding: 15px;
    box-shadow: -4px 8px 24px rgba(0, 0, 0, 0.25);
    font-size: var(--fs-4);
    width: auto;
    max-height: 180px;
}
.profile-info {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
.avatar-content {
    margin: 0;
    padding: 5px;
    background-color: var(--light-yellow);
    border: 1px solid var(--medium-dark);
    box-shadow: -4px 8px 24px rgba(129, 128, 128, 0.25);
    border-radius: 50%;
}
.avatar-content img {
    width: 80px;
}
.profile-desc {
    text-align: center;
}
h1 {
    white-space: nowrap;
    font-size: var(--fs-3);
}
.profile-desc h2 {
    font-size: var(--fs-4);
    font-weight: var(--fw-1);
}
.btn-arrow {cursor: pointer;}

.profile-detail {
    margin-top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-2);
}
.profile.active { max-height: 405px; }
.profile.active .profile-detail {
    opacity: 1;
    visibility: visible;
}
.separator {
    height: 1px;
    margin: 0;
    background: #c2b79b;
    border: none;
}
.info-box {
    display: flex;
    align-items: center;

}

.info-box figure {
    margin: 5px;
    padding: 5px;
    background-color: var(--main-dark);
    border: 1px solid var(--medium-dark);
    box-shadow: -1px 2px 24px rgba(137, 135, 135, 0.25);
    border-radius: 50%;
}
.social-media-list {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* SECTION ABOUT ME */
section {
    margin-top: 10px;
    background: var(--secondary-dark);
    border: 1px solid var(--medium-dark);
    border-radius: 20px;
    padding: 15px;
    box-shadow: -4px 8px 24px rgba(0, 0, 0, 0.25);
    font-size: var(--fs-4);
    /* width: auto; */
}
section h2 {
    position: relative;
    padding-bottom: 10px;
}
section h2::after {
    content: '';
    width: 40px;
    height: 5px;
    position: absolute;
    border-radius: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--light-yellow);
}
.article-skills h3 {
    margin-bottom: 25px;
}
.article-skills ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    gap: 25px;
}
.article-skills .content-skill {
    position: relative;
}
.article-skills .skill-box {
    padding: 10px;
    inset: 1;
    position: relative;
    border-radius: 15px;
    background: var(--bg-gradient);
    box-shadow: var(--shadow-2);
    margin-bottom: 10px;
}
.skill-box h4 {
    text-align: center;
    margin-top: 0;
}
.skill-box figure {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, -15px);
    margin: 0;
    padding: 10px;
    background-color: var(--medium-dark);
    border-radius: 15px;
    box-shadow: -4px 8px 24px rgba(39, 39, 39, 0.25);
}
.skill-box figure img {
    width: 20px;
    margin: auto;
    display: block;
}

/* SECTION EXPERIENCE */
.section-exp .title-exp {
    display: flex;
    align-items: center;
    gap: 15px;
}
.section-exp figure {
    margin: 0;
    padding: 10px;
    background-color: var(--medium-dark);
    border-radius: 15px;
    box-shadow: -4px 8px 24px rgba(39, 39, 39, 0.25);
}
.section-exp .timeline-item {
    position: relative;
    list-style: none;
    margin-bottom: 20px;
}
.section-exp .timeline-item h4 {
    margin-bottom: 10px;
}
.section-exp .timeline-item span {
    color: var(--light-yellow);
}
.section-exp .timeline-text {
    color: var(--light-dark);
    text-align: justify;
    margin-top: 10px;
}
.section-exp .timeline-item:not(:last-child)::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -25px;
    width: 1px;
    height: calc(100% + 50px);
    background: var(--light-dark);
}
.section-exp .timeline-item::after {
    content: '';
    position: absolute;
    top: 5px;
    left: -28px;
    width: 6px;
    height: 6px;
    background: var(--light-yellow);
    border-radius: 50%;
    box-shadow: 0 0 3px 3px var(--light-dark);
}
